* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.jpg");
    background-color: #f6879f;
    /* background-position-y: 58px; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

div.main-container {
    margin: 5px 5px 5px 5px;
}

#character-pictures {
    text-align: center;
    position: relative;
    float: left;
}

.character {
    float: left;
    background-color: wheat;
    padding: 0px 15px 0px 15px;
    margin: 10px 0px 0px 8px;
    border: 2px solid black;
    text-align: center;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    cursor: pointer;
}

.pic {
    height: 85px;
    width: 130px;
    object-fit: cover;
}

#main-section {
    clear: both;
    margin: 0px 0px 0px 20px;
    padding: 0px 15px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    flex: 1 0 auto;
}


.characterTitle{
    margin: 0px 0px 0px 0px;
    font-weight: bold;
}

.characterHealth{
    margin: 0px 0px 0px 0px;
    font-weight: bold;
}

#yourCharacter, #enemiesAvailableToAttack, #fightSection, #defender{
    clear: both;
}

#directions{
    /* position: fixed;
    top: 70%;
    left: 55%;
    font-weight: 900;
    font-size: 27px;
    font-family: 'Orbitron', sans-serif; */
}

.enemy {
    background-color: #ff2d5b;
}

.target-enemy {
    background-color: rgb(95, 23, 61);
    color: rgba(255, 255, 255, 0.733);
}

/* header */
h1 {
    margin: 0px 70px 3px 0px;
    padding: 10px; 
    font-weight: 950;
    font-size: 2.5em;
    font-family: 'Orbitron', sans-serif;
    color: rgb(56, 1, 1);
    float: right;
}

#icon {
    height: 3em;
    width: auto;
    float: right;
}

.mast-head {
    background-color: #f6879f;
    width: 100%;
    height: 60px;
}

/* footer */
/* .card-footer {
    position: static;
} */

.footer .container p {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 0;
    font-weight: 800;
    background: #0c7cd5;
    flex-shrink: 0;
  }

@media only screen and (max-width: 600px) {
    .mast-head {
        background-color: #f6879f;
        width: 100%;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .mast-head> span > .title::after {
        clear: both;
    }

    .mast-head> span > .title {
        font-size: 23px;
        margin-left: auto;
        margin-right: auto;
    }
}
